__pycache__/*
checkpoints/*

data/input/*
!data/input/input.wav

data/target/*
!data/target/1000_0.8&7.8&9.9&1.5.wav
!data/target/1000_1.4&8.3&8.2&3.8.wav
!data/target/1000_1.8&1.4&8.3&3.4.wav

data/valid/target*
!data/valid/target/1000_8.8&7.0&7.8&2.9.wav

data/valid/input/*
!data/valid/input/input.wav

data_hpf/*
paper/*
runs/*
venv/*
lhs_amp_settings_.csv